<form class="form">
  <h1>Create new card</h1>
  <div class="form__row">
    <label for="">Title</label>
    <input
      [(ngModel)]="titleInput"
      name="title"
      type="text"
      class="form__input"
      required
    />
  </div>
  <div class="form__row">
    <label for="">Description</label>
    <input
    [(ngModel)]="descriptionInput"
      name="description"
      type="text"
      class="form__input"
    />
  </div>
  <div class="form__row">
    <label for="">Image</label>
    <input [(ngModel)]="imageInput" name="image" type="text" class="form__input" />
  </div>
  <div class="form__row">
    <label for="">Link video</label>
    <input [(ngModel)]="linkVideoInput" name="link-video" type="text" class="form__input" />
  </div>
  <button (click)="addItem()" class="btn form__btn">Add</button>
</form>
