<div class="auth">
  <div class="container">
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading"
      class="form auth__form"
    >
      <div class="form__row">
        <label for="email">E-mail</label>
        <input
          class="form__input"
          id="email"
          type="email"
          name="email"
          ngModel
          required
          email
        />
      </div>
      <div class="form__row">
        <label for="password">Password</label>
        <input
          class="form__input"
          id="password"
          type="password"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <button
        (click)="login()"
        [routerLink]="['/videos']"
        class="btn form__btn"
      >
        Login
      </button>
    </form>
  </div>
</div>
