<div class="wrapper">
  <app-header
    (passSearchItems)="getSearchItems($event)"
    (changeToggleSettings)="onToggleSettings($event)"
    [categories]="items"
  ></app-header>
  <app-sort
    (searchString)="getSearchString($event)"
    *ngIf="togglingSettings"
    [categories]="searchingItems"
    (sortItems)="searchingItems"
  ></app-sort>
  <div class="container">
    <app-user-categories
      [searchString]="searchingString"
      [categories]="searchingItems"
    ></app-user-categories>
  </div>
</div>
