.card {
  background: #e5e5e5;
  border-radius: 5px;
  width: 263px;
  padding: 20px 20px 15px;
  box-sizing: border-box;
  margin: 0 5px 30px;
  flex-shrink: 0;
  &__poster {
    position: relative;
    width: 100%;
    height: 123px;
    margin-bottom: 20px;
    img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__title {
    text-align: right;
    color: #4f4f4f;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  &__button {
    text-align: center;
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #2f80ed;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 0 4px #2f80ed;
    width: 120px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 2px 0 0 #2f80ed;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 3px;
  }
  &__text {
    position: relative;
    top: -1px;
    font-size: 10px;
    color: #000;
  }
}

.red {
  box-shadow: inset 0 -6px 0px red;
}

.green {
  box-shadow: inset 0 -6px 0px green;
}

.blue {
  box-shadow: inset 0 -6px 0px blue;
}
