@import '../node_modules/reset-css/sass/reset';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}

.btn {
  border: none;
  cursor: pointer;
}
