@import '../node_modules/reset-css/sass/reset';

html {
  height: 100%;
  overflow-y: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 30px;
  overflow-y: auto;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}

.btn {
  border: none;
  cursor: pointer;
}

.border-bottom {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 0 -5px 0 #2f80ed;
  &--1 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 0 -5px 0 #eb5757;
  }
  &--2 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 0 -5px 0 #27ae60;
  }
  &--3 {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 0 -5px 0 #f2c94c;
  }
}
